html {
  margin: 0 auto;
  max-width: 900px;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
}

#authors {
  list-style-type: none;
  padding: 0;
}

#authors li {
  display: inline-flex;
  margin: 5px 20px;
  white-space: nowrap;
}

#authors li a, #acknowledgments-text a, #affiliation a {
  color: inherit;
  text-decoration: inherit;
}

#authors li a:hover, #acknowledgments-text a:hover, #affiliation a:hover {
  text-decoration: underline;
}

#affiliation {
  margin: 24px 0;
}

#quick-links {
  list-style-type: none;
  padding: 0;
}

#quick-links li {
  display: inline;
  margin: 0 10px;
}

#abstract {
  text-align: justify;
}

#thumbnails {
  list-style-type: none;
  padding: 0;
}

#thumbnails li {
  display: inline;
}

pre {
  display: block;
  text-align: left;
  white-space: pre-wrap
}
